.services  h2:hover {
    padding-left: 0.5em;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);

}

.services  span:hover {
    color: #FB202A;
}

.services  h2 {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    cursor: pointer;
}

.service_items figure:hover {
    border-radius: 16px;
    -webkit-box-shadow: 1px 1px 14px 0px rgba(34, 60, 80, 0.2);
box-shadow: 1px 1px 14px 0px rgba(34, 60, 80, 0.2);
}

.service_items figure {
    -webkit-transition: -webkit-box-shadow .5s ease;
    transition: -webkit-box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
    cursor: pointer;
}

.industry_and_statistics figure:hover {
    background-color: #0000008f;
    border-radius: 16px;
}

.industry_and_statistics figure {
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
    cursor: pointer;
}

.clients img:hover {
    -webkit-filter: brightness(1) invert(0);
            filter: brightness(1) invert(0);
}

.clients img {
    -webkit-transition: -webkit-filter .5s ease;
    transition: -webkit-filter .5s ease;
    -o-transition: filter .5s ease;
    transition: filter .5s ease;
    transition: filter .5s ease, -webkit-filter .5s ease;
    cursor: pointer;
}

.our_works figure {
    cursor: pointer;
}

.our_works figure:hover figcaption {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.our_works figcaption {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.our_works img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

.our_works img {
    -webkit-transition: -webkit-filter 0.5s ease;
    transition: -webkit-filter 0.5s ease;
    -o-transition: filter 0.5s ease;
    transition: filter 0.5s ease;
    transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}

/* меню */
.burger_menu.open {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    z-index: 0;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
}